
<!-- arquivo da forma antiga /-->
{% if page.archive %}
    <ul id="post-list" class="archive readmore">
        <h3>Posts by Date</h3>
        {% for post in site.posts %}
            <li>
                <a href="{{ site.baseurl }}{{ post.url | remove_first: '/' }}">{{ post.title }}<aside class="dates">{{ post.date | date:"%b %d" }}</aside></a>
            </li>
        {% endfor %}
    </ul>
{% endif %}  

<!-- navagecao "voltar para home" /-->
 {% if page.url != "/index.html" %}
        <a href="{{ site.baseurl }}"> <span class="arrow">←</span> Home </a>
    {% endif %}

<!-- profile antigo /-->
<div class="profile">
    <section id="wrapper">
        <header id="header">
        {% if site.aboutPage %}
            <a href="{{ site.baseurl }}about">
                <img id="avatar" class="2x" src="{{ site.baseurl }}assets/images/profile.jpg"/>
            </a>
        {% else %}
            <img id="avatar" class="2x" src="{{ site.baseurl }}assets/images/profile.jpg"/>
        {% endif %}
            <h1>{{ site.author }}</h1>
            <h2>{{ site.description }}</h2>
        </header>
    </section>
</div>

<!-- body antigo -->
  {% include navigation.html %}

  {% if page.profile %}
      {% include profile.html %}
  {% endif %}

<!-- footer do post layout -->
<footer id="post-meta" class="clearfix">
    <a href="http://twitter.com/{{ site.authorTwitter }}">
        <img class="avatar" src="{{ site.baseurl }}assets/images/avatar.png">
        <div>
            <span class="dark">{{ site.author }}</span>
            <span>{{ site.description }}</span>
        </div>
    </a>

    <section id="sharing">
        {% include share.html %}
    </section>
</footer>

<!-- tag -->
<ul class="category-list constrained">
    {% for tag in site.tags %}
    <li><a href="/tag/{{ tag | first }}/">{{ tag | first }}</a></li>
    {% endfor %}
  </ul>
