---
layout: default
archive: false
profile: false
---

{% include readingtime_page.html %}

<article class="post">
    <header>
        <h1>{{ page.title }}</h1>
        <h2 class="headline">{{ page.date | date:"%B %-d, %Y" }}</h2>
        <h2 class="headline">{{ reading_time }} read</h2>
    </header>
    <section id="post-body">
        {{content}}
    </section>
</article>
<footer id="post-meta" class="clearfix">
    <section id="newsletter">
        {% include newsletter.html %} 
    </section>
    <section id="sharing">
        {% include share.html %}
    </section>
</footer>

{% include previous-article.html %}
{% include next-article.html %}
{% include related-article.html %}

<!-- Disqus comments -->
{% if site.disqus %}
    <div class="archive readmore">
        <h3>Comments</h3>
        {% include disqus.html %}
    </div>
{% endif %}






